<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/cdn.jsdelivr.net_npm_bootstrap@4.5.3_dist_css_bootstrap.min.css">
    <link rel="icon" type="image/png" href="../favicon.ico" sizes="70x53">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination mt-5">
          {% if page_number != 1 %}
            <li class="page-item">
              <a class="page-link" href="index{{page_number-1}}.html" tabindex="-1" aria-disabled="true">Предыдущая</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="index{{page_number-1}}.html" tabindex="-1" aria-disabled="true">Предыдущая</a>
            </li>
          {% endif %}
          {% for number in range(1, pages_count+1) %}
            {% if page_number == number %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="../pages/index{{number}}.html">{{number}}<span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="../pages/index{{number}}.html">{{number}}</a>
              </li>
            {% endif %}
          {% endfor %}
          {% if page_number == pages_count %}
            <li class="page-item disabled">
              <a class="page-link" href="index{{page_number+1}}.html">Следующая</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="../pages/index{{page_number+1}}.html">Следующая</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      {% for row_of_books in separated_books %}
        <div class="row">
          {% for book in row_of_books %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../{{book.img_src}}" class="card-img" alt="Изображение книги">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{book.name}}</h5>
                      <p class="card-text">{{book.author}}</p>
                      <h6><span class="badge badge-light">{{book.genres[0]}}</span> <span class="badge badge-light">{{book.genres[1]}}</span></h6>
                      <a href="../{{book.book_path}}" target="blank">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <script src="static/js/code.jquery.com_jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/cdnjs.cloudflare.com_ajax_libs_popper.js_1.14.7_umd_popper.min.js"></script>
    <script src="static/js/stackpath.bootstrapcdn.com_bootstrap_4.3.1_js_bootstrap.min.js"></script>
  </body>
</html>